<aMazingConfig>
	<shaders>
		<shader vsrc="Shader/Basic3D.fx"
				psrc="Shader/Basic3D.fx"
				isDefault = "default">
				Basic3D
				</shader>
		<shader vsrc="Shader/Basic2D.fx"
				psrc="Shader/Basic2D.fx">
				Basic2D
		</shader>
		<shader vsrc="Shader/BasicSky.fx"
				psrc="Shader/BasicSky.fx">
				BasicSky
		</shader>
		<shader vsrc="Shader/wires/line.fx"
				psrc="Shader/wires/line.fx">
				BasicLine
		</shader>
		<shader vsrc="Shader/skinAnim/skinAnim.fx"
				psrc="Shader/skinAnim/skinAnim.fx">
				SkinAnim
		</shader>
	</shaders>
</aMazingConfig>